$white_color: #ffffff;
$second_color: #869a58;
$border_color: #ffffff6a;
$grey_color: #ffffff99;
$text_color: #d8d8d8;
$text_color_dark: #3d3d3d;
$grey_color_text: #c7c7c7;
$dark_hover_sh: #29343b;
$opacity_background: #5e5d5899;
$opacity_background_menu: #5e5d58bd;
$title_color: #4e4e4e;
$btn_text-color: #717171;
$btn_background: #ebebeb;
$btn_border: #acacac;
$text_color-one: #777777;
$background_section: #cfd2d4;
$opacity_img: #4d3f3111;
$opacity_hover: #4d3f3144;
$opacity_video_one: #4a382623;
$opacity_video: #4a38265b;
$opacity_img_hover: #ffffff10;
$opacity_dark: #00000066;
$opacity_white: #c9c9c9e1;
